@import "variables";
@import "mixins";

.hero {
  @include bgCover;

  background-image: url('../img/bg-hero.jpg');
  padding: 250px 0 180px;

  &-content {
    @include maxWmaxH(935px, auto);

    &__title {
      @include text(600, 96px, $white);
      @include lineHletterS(115px, 0);

      padding-bottom: 30px;
    }

    &__description {
      @include text(400, 14px, $white);
      @include lineHletterS(150%, 0);
      @include maxWmaxH(430px, auto);

      padding-bottom: 50px;
    }
  }
}

// 700, 600, 500, 400, 300
