<header class="header">
  <div class="header__container">
    <a href="#" class="header__logo logo">proLone</a>
    <div class="header__group">
      <button class="header__search btn"></button>
      <nav class="header__nav nav">
        <ul class="nav__list">
          <li class="nav-item">
            <a href="#" class="nav-item__link">
              Portfolio
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-item__link">
              Team
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-item__link">
              About
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-item__link">
              Blog
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-item__link">
              Contact
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
