<div class="quoute__container">
  <div class="quoute-content">
    <h2 class="quoute-content__subtitle">Quoute</h2>
    <p class="quoute-content__text">
      Accumsan vulputate efficitur in amet, vestibulum ornare morbi accumsan leo, est.
      Consectetur ultricies. Sapien est. Dictumst.
      Sapien habitasse interdum in amet, lectus molestie vel ut.
      Malesuada efficitur mattis id mattis aenean interdum lectus quam,
      dapibus nec augue vulputate leo, ornare elit.
    </p>
    <p class="quoute-content__description">
      Alex Lee /
      <span class="quoute-content__description--position">Co-founder & SEO</span>
    </p>
  </div>
</div>
