<div class="portfolio__container">
  <ul class="portfolio__list">
    <li class="portfolio__item">
      <div class="portfolio-content">
        <h3 class="portfolio-content__title">Et odio</h3>
        <p class="portfolio-content__text">
          Mauris eget nec nulla dolor ex.
          Sodales luctus pellentesque cras ornare lorem
          luctus lectus sed consectetur quam, est. Libero, odi
        </p>
        <button class="portfolio-content__btn btn btn--dark">
          <span class="btn--dark__text">Button</span>
        </button>
      </div>
      <div class="portfolio-content">
        <img src="" alt="portfolio image" class="portfolio-content__img">
      </div>
    </li>
    <li class="portfolio__item">
      <div class="portfolio-content">
        <img src="" alt="portfolio image" class="portfolio-content__img">
      </div>
      <div class="portfolio-content">
        <h3 class="portfolio-content__title">Integer dapibus dictum</h3>
        <p class="portfolio-content__text">
          it pulvinar tempus amet dolor dui vulputate tortor,
          luctus lorem in nunc eleifend ipsum justo et venenatis dictumst.
        </p>
        <button class="portfolio-content__btn btn btn--dark">
          <span class="btn--dark__text">Button</span>
        </button>
      </div>
    </li>
  </ul>
</div>
