*, *::before, *::after {
  box-sizing: inherit;
}

html {
  -webkit-text-size-adjust: 100%;

  box-sizing: border-box;
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  min-width: 320px;
  min-height: 100%;
  font-weight: 400;
  font-family: 'Ubuntu', sans-serif;
}

ul, li, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

label {
  cursor: pointer;
}

hr {
  box-sizing: content-box;
  overflow: visible;
  height: 0;
}

details, legend {
  display: block;
}

summary {
  display: list-item;
}

b, strong {
  font-weight: bolder;
}

button {
  background-color: transparent;
  display: inline-block;
  font-family: inherit;
  font-size: inherit;
  box-shadow: none;
  cursor: pointer;
  border: none;
  padding: 0;
}

input {
  -webkit-appearance: none;

  appearance: none;
  border-radius: 0;
  outline: none;
  border: 0;

  &::-ms-clear,
  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
}

textarea, select {
  font-family: inherit;
  font-size: inherit;
}

progress {
  vertical-align: baseline;
}

img, svg, video {
  display: inline-block;
  vertical-align: top;
  object-fit: cover;
  max-width: 100%;
  height: auto;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  line-height: inherit;
  font-size: inherit;
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}
